@keyframes endingCreditUp {
  0% {
    transform: translateY(600px);
  }

  100% {
    transform: translateY(0px);
  }
}

.endingContainer {
  padding: 20vh 20vw 10vh 20vw;
  max-width: 60vw;
  height: 70vh;
  overflow: hidden;
  background-color: black;
  color: white;
}

.endingCredit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  animation: endingCreditUp 20s ease-in;
}

.blocker {
  z-index: 111;
  position: absolute;
  width: 60vw;
  height: 10vh;
  top: 90vh;
  background-color: black;
}
