.flower-form {
  position: absolute;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  top: 405px;
  left: 370px;
}

.flower-form input[type="radio"] {
  opacity: 1;
  width: 50px;
  height: 60px;
  background: whitesmoke;
}

.flower-form input:nth-child(4) {
  margin-left: 48px;
}

.flower-form input:nth-child(5) {
  margin-left: 45px;
}

.flower-form input:nth-child(6) {
  margin-left: 45px;
}
